@import url("fonts.css");
@import url("reset.css");

.wrapper {
    overflow: clip;
    min-height: 100%;
    display: flex;
    flex-direction: column;




}

[class*="__container"] {
    max-width: 1215px;
    margin: 0 auto;
    background-color: rgb(97, 73, 73);
    min-height: 100%;
    padding: 0 15px;
}


.main {}

.main__container {}

.main__jewwellery {}

.jewwellery {}

.jewwellery__item {}

.jewwellery__title {
    margin-bottom: 27px;
}

.title {
    text-align: center;
    color: #291403;
    font-family: DM Serif Text;
    font-size: 58px;
    line-height: 1.00;
}

.jewwellery__sub-title {
    margin-bottom: 62px;
}

.sub-title {
    text-align: center;
    color: #818181;
    font-family: "Cormorant Infant";
    font-size: 30px;
    font-weight: 700;
    line-height: 1.40;
}

.jewwellery__products {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    margin-bottom: 70px;
    gap: 30px;
    


}
.jewwellery__product{
    display: inline-block;


}
.jewwellery__flex{
    flex: 1 0 calc(25% - 30px);

}
.jewwellery__img-product{
    width: 100%;
    margin-bottom: 17px;
    border-radius: 5px;
    overflow: hidden;
    max-width: 273px;
}

.jewwellery__img-product img:hover {
    transform: scale(1.1);
}

.jewwellery__img-product img {
    transition: transform .5s;
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1 / 1;
 

}

.jewwellery__text {
    display: inline-flex;
    flex-direction: column;
    row-gap: 4px;


}

.jewwellery__name {
    color: #000;
    font-family: "Cormorant Infant";
    font-size: 24px;
    font-weight: 700;
    line-height: 1.40;
}
.jewwellery__price {
    color: #000;
    font-family: "Cormorant Infant";
    font-size: 24px;
    font-weight: 700;
    line-height: 1.40;
}


.jewwellery__button a {
    color: #FFF;
    font-family: Ubuntu;
    font-weight: 500;
    line-height: 1.87;
    padding: 12px 42.5px;
    background-color: #FF7A49;
}

.jewwellery__button {
    text-align: center;
}

/* adavtive */

@media(max-width:990px){
    .jewwellery__flex{
        flex: 0 0 calc(30% - 30px);
        text-align: center;
        margin: 0 auto;
    
    }
}

@media(max-width:700px){
    .jewwellery__flex{
        flex: 0 0 calc(50% - 30px);
        margin: 0 auto;
        text-align: center;
    }


}
@media(max-width:480px) {
    .jewwellery__flex{
        flex: 1 0 100%;
        display: inline-block;
        margin: 0 auto;
        text-align: center;
        
    }


}