@import url("reset.css");

.wrapper {
    min-height: 100%;
    overflow: clip;
    display: flex;
    flex-direction: column;
}

.header {
    margin: 32px 0;
    &__container {
        padding: 0 15px;
        max-width: 1270px;
        margin: 0 auto 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 25px;
    }

    &__burger {
        display: none;
        & img {
            width: 40px;
            height: 40px;
        }
    }
    &__menu {
        &.menu {
            display: flex;
            gap: 40px;
        }
    }
    .menu {
        color: #807d7e;
        font-family: Causten;
        font-size: 22px;
        font-weight: 500;

        &__item.target {
            color: #3c4242;
            font-family: Causten;
            font-size: 22px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
    }

    .input__form {
        display: flex;
        column-gap: 12px;
        padding: 12px 20px;
        & input {
            color: #807d7e;
            font-family: Causten;
            padding: 2px;
            border: none;
            outline: none;
        }
    }

    .component {
        display: flex;
        gap: 12px;
        &__item {
            padding: 12px;
            transition: transform 0.3s;
            &:hover {
                transform: scale(1.1);
            }
        }
    }
    @media (max-width: 1070px) {
        &__container {
            display: flex;
            justify-content: space-around;
        }
        &__burger {
            display: flex;
        }
        .menu {
            display: none;
        }
    }
    @media (max-width: 680px) {
        .component {
            display: none;
        }
    }

    @media (max-width: 465px) {
        &__form input {
            padding: 0;
            max-width: 150px;
        }
    }
}

.main {
    // .main__container
    &__container {
        max-width: 930px;
        padding: 0 15px;
        margin: 0 auto;
        border: 1px solid black;
    }

    // .main__text

    &__text {
        display: flex;
        justify-content: space-between;
        margin-bottom: 58px;
    }

    &__right-button {
        display: flex;
        column-gap: 25px;
    }

    // .main__title

    &__title {
        color: #3f4646;
        font-family: Causten;
        font-size: 22px;
        font-weight: 600;
    }

    // .main__new

    &__new {
        color: #8a33fd;
        font-family: Causten;
        font-size: 22px;
        font-weight: 600;
    }

    // .main__recommended

    &__recommended {
        color: #3f4646;
        font-family: Causten;
        font-size: 22px;
        font-weight: 600;
    } 

    &__items{
        display: grid;
        grid-template-columns: repeat(3, minmax(232px,1fr));
        column-gap: 25px;
        row-gap: 50px;
    }

    .item {
        display: flex;
        flex-direction: column;
        row-gap: 30px;
        position: relative;

        &__img img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            aspect-ratio: 282 / 370;
            
        }
        &__heart {
            position: absolute;
            top: 27px;
            left: 228px;
        }
        &__text {
            display: flex;
            column-gap: 33px;
        }
        &__left-text {
            display: flex;
            flex-direction: column;
            row-gap: 5px;
        }
        &__name {
            color: #3c4242;
            font-family: Causten;
            font-size: 16px;
            font-weight: 600;
        }
        &__brand {
            color: #807d7e;
            font-family: Causten;
            font-size: 14px;
            font-weight: 500;
        }
        &__price {
            color: #3c4242;
            text-align: center;
            font-family: Causten;
            font-size: 14px;
            font-weight: 700;
            padding: 10px 16px;
        }
    }
}
