@import url("reset.css");
.wrapper {
  min-height: 100%;
  overflow: clip;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header {
  margin: 32px 0;
}
.header__container {
  padding: 0 15px;
  max-width: 1270px;
  margin: 0 auto 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
}
.header__burger {
  display: none;
}
.header__burger img {
  width: 40px;
  height: 40px;
}
.header__menu.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}
.header .menu {
  color: #807d7e;
  font-family: Causten;
  font-size: 22px;
  font-weight: 500;
}
.header .menu__item.target {
  color: #3c4242;
  font-family: Causten;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.header .input__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 12px;
     -moz-column-gap: 12px;
          column-gap: 12px;
  padding: 12px 20px;
}
.header .input__form input {
  color: #807d7e;
  font-family: Causten;
  padding: 2px;
  border: none;
  outline: none;
}
.header .component {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}
.header .component__item {
  padding: 12px;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.header .component__item:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
@media (max-width: 1070px) {
  .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .header__burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header .menu {
    display: none;
  }
}
@media (max-width: 680px) {
  .header .component {
    display: none;
  }
}
@media (max-width: 465px) {
  .header__form input {
    padding: 0;
    max-width: 150px;
  }
}

.main__container {
  max-width: 930px;
  padding: 0 15px;
  margin: 0 auto;
  border: 1px solid black;
}
.main__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 58px;
}
.main__right-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 25px;
     -moz-column-gap: 25px;
          column-gap: 25px;
}
.main__title {
  color: #3f4646;
  font-family: Causten;
  font-size: 22px;
  font-weight: 600;
}
.main__new {
  color: #8a33fd;
  font-family: Causten;
  font-size: 22px;
  font-weight: 600;
}
.main__recommended {
  color: #3f4646;
  font-family: Causten;
  font-size: 22px;
  font-weight: 600;
}
.main__items {
  display: grid;
  grid-template-columns: repeat(3, minmax(232px, 1fr));
  -webkit-column-gap: 25px;
     -moz-column-gap: 25px;
          column-gap: 25px;
  row-gap: 50px;
}
.main .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 30px;
  position: relative;
}
.main .item__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 282/370;
}
.main .item__heart {
  position: absolute;
  top: 27px;
  left: 228px;
}
.main .item__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 33px;
     -moz-column-gap: 33px;
          column-gap: 33px;
}
.main .item__left-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 5px;
}
.main .item__name {
  color: #3c4242;
  font-family: Causten;
  font-size: 16px;
  font-weight: 600;
}
.main .item__brand {
  color: #807d7e;
  font-family: Causten;
  font-size: 14px;
  font-weight: 500;
}
.main .item__price {
  color: #3c4242;
  text-align: center;
  font-family: Causten;
  font-size: 14px;
  font-weight: 700;
  padding: 10px 16px;
}