
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@font-face {
    font-family: 'Canela';
    src:
        url('../fonts/Canela-Medium-Trial.woff') format('woff');
    font-weight: 500;
    font-style: normal;
  }



