@import url('fonts.css');
@import url('reset.css');



.wrapper {
    min-height: 100%;
    overflow: clip;
}


.main__container {
    margin: 0 auto;
    border: 1px solid;
    max-width: 1270px;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    row-gap: 100px;
}

.section-one {
    display: flex;
    gap: 30px;
}


.section-one__block {
    position: relative;
}

.section-one__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 604 / 355;
    border-radius: 12px;
    box-shadow: 1px 0 8px 1px rgb(67, 64, 64);
}

.section-one__text {
    position: absolute;
    top: 67px;
    left: 28px;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;


}

.section-one__advantage {
    color: #FFF;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 800;

    letter-spacing: 0.251px;
}

.section-one__advantage--margin {
    margin-bottom: 24px;
}

.section-one__title {
    color: #FFF;
    font-family: Core Sans C;
    font-size: 34px;
    font-weight: 800;
}

.section-one__title--margin {
    margin-bottom: 9px;
}

.section-one__sale {
    color: #FFF;
    font-family: Core Sans C;
    font-weight: 500;
    line-height: 1.56;
    letter-spacing: 0.251px;
}

.section-one__sale--margin {
    margin-bottom: 41px;
}

.section-one__button a {
    color: #FFF;
    font-family: Core Sans C;
    font-size: 20px;
    font-weight: 800;
    line-height: 1.50;
    text-decoration-line: underline;
}

@media (max-width: 930px) {
    .section-one {
        flex-direction: column;
        max-width: 600px;
        margin: 0 auto;

    }

    .section-one__text {
        top: 15px;
        justify-content: center;
        padding-left: 40px;
    }

    .section-one__sale--margin {
        margin-bottom: 10px;
    }
}

@media (max-width: 500px) {
    .section-one__text {
        padding-left: 0;
    }
}

@media (max-width: 445px) {
    .section-one__title {
        font-size: 25px;
    }

    .section-one__advantage--margin {
        margin-bottom: 10px;
    }

    .section-one__text {
        justify-content: flex-start;
        padding-left: 0;
    }

}

@media (max-width: 320px) {
    .section-one__text {
        left: 5px;
    }

    .section-one__title {
        max-width: 100px;
    }

    .section-one__sale {
        display: none;
    }
}



/* clothes section */


.clothes-section {
    position: relative;
}

.title--margin {
    margin-bottom: 70px;
}

.title {
    color: #3C4242;
    font-family: Core Sans C;
    font-size: 34px;
    font-weight: 600;
    line-height: 98.529%;
    letter-spacing: 0.68px;
}

.title::before {
    content: "";
    width: 6px;
    height: 30px;
    border-radius: 10px;
    background: #8A33FD;
    position: relative;
    top: 4px;
}


.clothes-section__items {
    padding: 0 37px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 39px;


}

.clothes-section__item {
    display: flex;
    flex-direction: column;
    row-gap: 33px;

}

.clothes-section__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 262 / 262;
    transition: transform .3s;
}

@media(any-hover: hover) {
    .clothes-section__img img:hover {
        transform: scale(1.04);
    }
}

.clothes-section__img {
    overflow: hidden;
    border-radius: 12px;
}

.clothes-section__img a {
    display: block;
}

.clothes-section__name {
    padding-left: 5px;
    color: #3C4242;
    font-family: Causten;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.2px;
    padding-bottom: 5px;
}

.clothes-section__array-button--one {
    position: absolute;
    right: 0;
    bottom: 190px;
    transition: transform .3s;
}

.clothes-section__array-button--two img {
    transform: rotate(180deg);
}

.clothes-section__array-button--two {
    position: absolute;
    left: 0;
    bottom: 190px;
    transition: transform .3s;
}

@media(any-hover: hover) {

    .clothes-section__array-button--one:hover,
    .clothes-section__array-button--two:hover {
        transform: scale(1.2);
    }
}


@media(max-width: 799px) {
    .clothes-section__title {
        text-align: center;
        font-size: 40px;
    }

    @media(max-width: 362px) {
        .clothes-section__title {
            font-size: 35px;
        }
    }

    .clothes-section__title::before {
        display: none;
    }

}

@media(max-width: 1142px) {

    .clothes-section__array-button--one,
    .clothes-section__array-button--two {
        display: none;
    }
}









.big-saving__items {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: auto;
    gap: 20px;
}


.big-saving__item {
    display: grid;
    grid-column: span 4;
    align-items: center;

}

.big-saving__card {
    position: absolute;


}

.big-saving__card img {
   
    
}

.big-saving__text {
    position: relative;
    z-index: 2;
    padding: 0 26px 64px 20px;
}

.big-saving__text--left {
    justify-self: start;




}

.big-saving__name {
    color: #FFF;
    font-family: Core Sans C;
    font-size: 28px;
    font-weight: 600;
    line-height: 38.431px;
    letter-spacing: 0.56px;
    max-width: 120px;
}

.big-saving__name--margin {
    margin-bottom: 10px;
}

.big-saving__label {
    color: #FFF;
    font-family: Causten;
    font-size: 14px;
    font-weight: 600;
}

.big-saving__label--margin {
    margin-bottom: 10px;
}

.big-saving__sale {
    color: #FFF;
    font-family: Causten;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}

.big-saving__sale--margin {
    margin-bottom: 31px;
}

.big-saving__arrey {
    padding: 0 45px;
}

.big-saving__arrey--margin {
    margin-bottom: 40px;
}

.big-saving__button a {
    padding: 10px 25px;
    color: #FFF;
    text-align: center;
    font-family: Causten;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    border: 1px solid #fff;
    border-radius: 4px;
}

.big-saving__text--right {
    justify-self: end;
    text-align: right;
    padding-top: 34px;
}

.big-saving__limited-stock {
    padding: 10px 16px;
    color: #FFF;
    text-align: center;
    font-family: Causten;
    font-size: 12px;
    font-weight: 700;
    border-radius: 4px;
    background: #3C4242;
    display: inline-block;
    
}.big-saving__limited-stock--margin{
    margin-bottom: 29px;
}.big-saving__text--black > div{
    color: #3C4242;
    text-align: left;
}.big-saving__button--black a{
    border: 1px solid #3C4242;
    color: #3C4242;
}

.big-saving__item--column{
    display: grid;
    grid-column: span 6;
    padding-right: 100px;
}.big-saving__name--fz{
    font-size: 32px;
}.big-saving__label--fz{
    font-size: 16px;
}.big-saving__sale--fz{
    font-size: 20px;
}.big-saving__button--fz a{
    font-size: 12px;
    font-weight: 600;
    border: 2px solid #3C4242;
}.big-saving__item--padding{
    padding-right: 70px;
}



.big-saving__item:hover .big-saving__card img{
transform: scale(1.1);
}.big-saving__card{
    overflow: hidden;
    border-radius: 12px;
    
}.big-saving__card img{
  transition: transform .3s;  
}


.big-saving__button a::before{
    content: "";
    width: 100%;
    background-color: #3C4242;
    position: absolute;
    inset: 0;
    transform: translateX(-100%);
    transition: all .5s;
    opacity: 0.2;
    overflow: hidden;
    
}.big-saving__button a{
    position: relative;
    overflow: hidden;
    border-radius: 4px;

}.big-saving__button a:hover::before{
    transform: translate(0);
    overflow: hidden;

    
}.big-saving__name a:hover{
text-decoration: underline;
}

.big-saving__item:hover .big-saving__arrey{
    animation: arrey__anime 2s ease-in-out infinite;
}

@keyframes arrey__anime{

    0%{
        transform: translateY(0); 
    }
    50%{
        transform: translateY(20px);
    }
    100%{
        transform: translateY(0); 
    }
}


.big-saving__card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}