@import url('fonts.css');
@import url('reset.css');



.wrapper {
    min-height: 100%;
    overflow: clip;
}



.main {}

.main__container {
    margin: 0 auto;
    border: 1px solid;
    max-width: 1270px;
    padding: 0 15px;
}

.section-one {
    display: flex;
    gap: 30px;
}

.main__section-one {
    margin-bottom: 100px;
}

.section-one__block {
    position: relative;
}

.section-one__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 604 / 355;
    border-radius: 12px;
    box-shadow: 1px 0 8px 1px rgb(67, 64, 64);
}

.section-one__text {
    position: absolute;
    top: 67px;
    left: 28px;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;


}

.section-one__advantage {
    color: #FFF;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 800;

    letter-spacing: 0.251px;
}

.section-one__advantage--margin {
    margin-bottom: 24px;
}

.section-one__title {
    color: #FFF;
    font-family: Core Sans C;
    font-size: 34px;
    font-weight: 800;
}

.section-one__title--margin {
    margin-bottom: 9px;
}

.section-one__sale {
    color: #FFF;
    font-family: Core Sans C;
    font-weight: 500;
    line-height: 1.56;
    letter-spacing: 0.251px;
}

.section-one__sale--margin {
    margin-bottom: 41px;
}

.section-one__button a {
    color: #FFF;
    font-family: Core Sans C;
    font-size: 20px;
    font-weight: 800;
    line-height: 1.50;
    text-decoration-line: underline;
}

@media (max-width: 930px) {
    .section-one {
        flex-direction: column;
        max-width: 600px;
        margin: 0 auto;

    }

    .section-one__text {
        top: 15px;
        justify-content: center;
        padding-left: 40px;
    }

    .section-one__sale--margin {
        margin-bottom: 10px;
    }
}

@media (max-width: 500px) {
    .section-one__text {
        padding-left: 0;
    }
}

@media (max-width: 445px) {
    .section-one__title {
        font-size: 25px;
    }

    .section-one__advantage--margin {
        margin-bottom: 10px;
    }

    .section-one__text {
        justify-content: flex-start;
        padding-left: 0;
    }

}

@media (max-width: 320px) {
    .section-one__text {
        left: 5px;
    }

    .section-one__title {
        max-width: 100px;
    }

    .section-one__sale {
        display: none;
    }
}



/* clothes section */



.main__clothes-section {}

.clothes-section {}

.clothes-section__title {
    margin-bottom: 70px;
}

.title {
    color: #3C4242;
    font-family: Core Sans C;
    font-size: 34px;
    font-weight: 600;
    line-height: 98.529%;
    letter-spacing: 0.68px;
}

.title::before {
    content: "";
    width: 6px;
    height: 30px;
    border-radius: 10px;
    background: #8A33FD;
    position: relative;
    top: 4px;
}

.clothes-section__items {
    padding: 0 15px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(262px, 1fr));
    column-gap: 39px;
    

}

.clothes-section__item {
    display: flex;
    flex-direction: column;
    row-gap: 33px;
}

.clothes-section__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 262 / 262;
    transition: transform .3s;


}.clothes-section__img img:hover{
    transform: scale(1.04);


}.clothes-section__img{
    overflow: hidden;
    border-radius: 12px;
}

.clothes-section__name {
    padding-left: 5px;
    color: #3C4242;
    font-family: Causten;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.2px;
    padding-bottom: 5px;
}