@import "_fonts.scss";
@import "_reset.scss";

.wrapper {
    min-height: 100%;
    overflow: clip;
}
$white-color: #fff;
@function max-width($padding-width) {
    $rez: $padding-width + 30;
    @return $rez + px;
}

[class*="__container"] {
    max-width: max-width(1240);
    padding: 0 15px;
    margin: 0 auto;
}

[class*="main__page"] {
    margin-bottom: 100px;
}

.header {
    // .header__container

    &__container {
        border: 1px solid;
        padding: 32px 0;
        & section {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 20px;
            @media (max-width: 695px) {
                justify-content: space-around;
            }
        }
    }

    // .header__logo

    &__logo {
    }

    &__button {
        display: flex;
        column-gap: 12px;
        @media (max-width: 1016px) {
            display: none;
        }
        img {
            transition: scale 0.3s;
            &:hover {
                scale: 1.1;
            }
            padding: 12px;
        }
    }
    &__burger {
        @media (min-width: 1017px) {
            display: none;
        }

        img {
            width: 43px;
            height: 43px;
        }
    }
}
.menu {
    display: flex;
    gap: 40px;
    @media (max-width: 909px) {
        display: none;
    }

    // .menu__item

    &__item {
        color: #807d7e;
        font-family: Causten;
        font-size: 22px;
        font-weight: 500;
    }

    // .menu__link

    &__link {
        &:hover:not(.focus) {
            color: #545353;
        }
    }
}
.focus {
    color: #3c4242;
    font-family: Causten;
    font-size: 22px;
    font-weight: 700;
}

.form {
    &__input-box {
        display: grid;
        grid-template-columns: repeat(1, minmax(60px, 267px));

        position: relative;

        input {
            padding: 12px 25px;
            border: none;
            outline: none;

            &::placeholder {
                color: #807d7e;
                font-family: Causten;
                font-size: 17px;
            }
        }
    }
    & label {
        position: absolute;
        top: 12px;
    }
}

.page-one {
    // .page-one__cards
    margin-bottom: 13px;

    &__cards {
        position: relative;
        display: grid;
        grid-template-columns: repeat(2, minmax(300px, 1fr));

        justify-content: center;
        @media (max-width: 852px) {
            grid-template-columns: repeat(1, minmax(200px, 586px));
        }
        gap: 20px;
    }

    // .page-one__card

    &__card {
        position: relative;
        height: 100%;
    }

    // .page-one__image

    &__image {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 12px;
        box-shadow: 2px 1px 9px #000;
        @media (max-width: 450px) {
            object-position: -112px 0;
        }
    }

    // .page-one__text

    &__text {
        position: relative;
        z-index: 2;
        padding: 67px 0 78px 32px;
        max-width: 264px;
    }

    // .page-one__sub-title

    &__sub-title {
        color: $white-color;
        font-family: Montserrat;
        font-size: clamp(0.875rem, 0.729rem + 0.67vw, 1.125rem);
        font-weight: 800;
        line-height: 30.067px;
        letter-spacing: 0.251px;
    }

    // .page-one__title

    &__title {
        color: $white-color;
        font-family: Core Sans C;
        font-size: clamp(1.813rem, 1.63rem + 0.83vw, 2.125rem);
        font-weight: 800;
        line-height: 45.1px;
        margin-bottom: 10px;
    }

    // .page-one__sale

    &__sale {
        color: $white-color;
        font-family: Core Sans C;
        font-size: clamp(0.813rem, 0.625rem + 0.67vw, 1rem);
        font-weight: 500;
        line-height: 25.056px; /* 156.598% */
        letter-spacing: 0.251px;
        margin-bottom: 35px;
    }

    // .page-one__button

    &__button {
        a {
            color: #fff;
            font-family: Core Sans C;
            font-size: clamp(0.938rem, 0.625rem + 1.11vw, 1.25rem);
            font-style: normal;
            font-weight: 800;
            line-height: 30.132px; /* 150.66% */
            @media (any-hover: hover) {
                &:hover {
                    text-decoration-line: underline;
                }
            }
        }
    }
}

.page-two {
    border: 1px solid #000;
    position: relative;
    // .page-two__cards

    &__cards {
        display: grid;
        grid-template-columns: repeat(4, minmax(100px, 262px));
        justify-content: center;
        gap: 39px;
        @media (max-width: 1066px) {
            grid-template-columns: repeat(3, minmax(150px, 262px));
        }
        @media (max-width: 690px) {
            grid-template-columns: repeat(2, minmax(150px, 262px));
        }
        @media (max-width: 490px) {
            grid-template-columns: repeat(1, minmax(150px, 262px));
        }
    }

    // .page-two__card

    &__card {
        &:hover {
            .page-two__image img {
                scale: 1.1;
            }
            .page-two__text a {
                text-decoration: underline;
            }
        }
    }

    // .page-two__image

    &__image {
        width: 100%;
        margin-bottom: 33px;
        overflow: hidden;
        border-radius: 12px;

        img {
            width: 100%;
            height: 100%;
            aspect-ratio: 262.8/262.8;
            object-fit: cover;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            transition: scale 0.3s;
        }
    }

    // .page-two__text

    &__text {
        padding-left: 5.5px;
    }

    // .page-two__name

    &__name {
        color: #3c4242;
        font-family: Causten;
        font-size: clamp(1.1rem, 0.75rem + 0.89vw, 1.25rem);
        font-weight: 700;
        letter-spacing: 0.2px;
    }

    &__arrow {
        position: absolute;
        top: 351px;
    }
}
.title {
    color: #3c4242;
    font-family: Core Sans C;
    font-size: clamp(1.8rem, 1rem + 2vw, 2.125rem);
    font-weight: 600;
    line-height: 33.5px;
    letter-spacing: 0.68px;
    padding-left: 26px;
    position: relative;
    margin-bottom: 70px;
    &::before {
        content: "";
        position: absolute;
        width: 6px;
        height: 30px;
        border-radius: 10px;
        background: #8a33fd;
        left: 0;
        top: 3px;
    }
}

.main {
    // .main__page-three

    &__page-three {
    }
}
.page-three {
    // .page-three__title

    &__title {
    }

    // .page-three__cards

    &__cards {
        display: grid;
        grid-template-columns: repeat(12, minmax(350px, 1fr));
        gap: 20px;
    }

    // .page-three__card

    &__card {
        position: relative;
    }

    // .page-three__image

    &__image {
        position: absolute;
        border-radius: 12px;
        width: 100%;

        img {
            width: 100%;
            height: 100%;
        }
    }

    // .page-three__text

    &__text {
        padding: 34px 25px 67px 175px;
        text-align: right;
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: column;

        &--left {
            padding: 64.7px 130px 64.7px 20px;
            text-align: left;
        }
    }

    // .page-three__title-text

    &__title-text {
        color: $white-color;
        font-family: Core Sans C;
        font-size: 28px;
        font-weight: 600;
        line-height: 38.431px;
        letter-spacing: 0.56px;
        margin-bottom: 10px;
    }

    // .page-three__sub-title

    &__sub-title {
        color: $white-color;
        font-family: Causten;
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 10px;
    }

    // .page-three__sale

    &__sale {
        color: $white-color;
        font-family: Causten;
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 30px;
    }

    // .page-three__arrow

    &__arrow {
        margin-bottom: 40px;
        padding-left: 45px;
        &--left {
            padding-right: 55px;
        }
    }

    // .page-three__button

    &__button {
        text-align: center;
        a {
            padding: 10px 25px;
            color: $white-color;
            text-align: center;
            font-family: Causten;
            font-size: 12px;
            font-weight: 500;
            border-radius: 4px;
            border: 1px solid $white-color;
        }
    }

    &__limited {
        color: #fff;
        text-align: center;
        font-family: Causten;
        font-size: 12px;
        font-weight: 700;
        padding: 10px 16px;
        border-radius: 4px;
        background: #3c4242;
        max-width: 114px;
        margin-bottom: 28px;
        
    }
}
.title {
}
