@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@600&family=Inter:wght@400;500;600;700&family=Poppins:wght@300;400;600;700&family=Roboto:wght@500;900&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  color: inherit;
  background-color: transparent;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

body {
  font-size: 18px;
}

.wrapper {
  min-height: 100%;
  overflow: clip;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

[class*=__container] {
  max-width: 78.125rem;
  padding: 0 1.875em;
  margin: 0 auto;
}

.header__info {
  background: #37393f;
  padding: 1.375em 0;
  color: #fff;
  font-family: Inter;
  font-size: clamp(0.625rem, 0.363rem + 1vw, 0.875rem);
}
@media (max-width: 850px) {
  .header__info {
    display: none;
  }
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.625rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__adress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.625rem;
}
@media (max-width: 680px) {
  .header__adress {
    gap: 0.75rem;
  }
}
.header__location {
  position: relative;
  padding-left: 1.5625rem;
}
.header__location::before {
  content: "";
  position: absolute;
  background: url(../image/header/location.svg) no-repeat;
  width: 3.5625em;
  height: 5.875em;
  inset: 0;
  -webkit-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
          transform: translateY(-5px);
}
.header__email {
  position: relative;
  padding-left: 1.9375rem;
}
.header__email::before {
  content: "";
  position: absolute;
  background: url(../image/header/email.svg) no-repeat;
  width: 3.4375rem;
  height: 3.6875rem;
  inset: 0;
  -webkit-transform: translateY(-3px);
      -ms-transform: translateY(-3px);
          transform: translateY(-3px);
}
.header__right-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 3.125em;
     -moz-column-gap: 3.125em;
          column-gap: 3.125em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 680px) {
  .header__right-info {
    -webkit-column-gap: 1.25em;
       -moz-column-gap: 1.25em;
            column-gap: 1.25em;
  }
}
.header__media-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1rem;
     -moz-column-gap: 1rem;
          column-gap: 1rem;
  row-gap: 0.25rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.header__time-work {
  position: relative;
  padding-left: 1.25rem;
}
.header__time-work::before {
  content: "";
  background: url(../image/header/time.svg) no-repeat;
  width: 1.25rem;
  height: 1.375rem;
  inset: 0;
  position: absolute;
  -webkit-transform: translateY(-2px);
      -ms-transform: translateY(-2px);
          transform: translateY(-2px);
}
.header__link-icon img {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
@media (any-hover: hover) {
  .header__link-icon img:hover {
    -webkit-transform: scale(1.09);
        -ms-transform: scale(1.09);
            transform: scale(1.09);
  }
}

.header__navigation {
  padding: 2.5rem 0;
}
.header__logo {
  color: #37393f;
  font-family: Poppins;
  font-size: 1.5625rem;
  font-weight: 700;
  position: relative;
  padding-left: 2.875rem;
}
.header__logo span {
  color: #6b77e5;
  font-weight: 700;
}
.header__logo::before {
  content: "";
  background: url(../image/header/main__logo.svg) no-repeat;
  width: 3.0625rem;
  height: 2rem;
  position: absolute;
  inset: 0;
}
.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 2.8125rem;
     -moz-column-gap: 2.8125rem;
          column-gap: 2.8125rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 545px) {
  .header__button {
    display: none;
  }
}
.header__button a {
  white-space: nowrap;
  color: #fff;
  text-align: center;
  font-family: Cabin;
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: capitalize;
  padding: 1.375rem 2.1875rem;
  background: #626eda;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
}
.header__button a:hover {
  background: #6d78dc;
}
.header__burger-button {
  display: none;
  position: relative;
  z-index: 99;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 33px;
  height: 20px;
}
@media (max-width: 981px) {
  .header__burger-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.header__burger-button span {
  position: absolute;
  height: 2px;
  width: 80%;
  background-color: #37393f;
  -webkit-transform: scale(1.01);
      -ms-transform: scale(1.01);
          transform: scale(1.01);
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}
.header__burger-button::before, .header__burger-button::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 93%;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  background-color: #37393f;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.header__burger-button::before {
  top: 0;
}
.header__burger-button::after {
  bottom: 0;
}
.header__burger-button:focus > span {
  opacity: 0;
}
.header__burger-button:focus::before {
  top: 50%;
  -webkit-transform: rotate(-45deg) translate(0, -50%);
      -ms-transform: rotate(-45deg) translate(0, -50%);
          transform: rotate(-45deg) translate(0, -50%);
}
.header__burger-button:focus::after {
  top: 50%;
  -webkit-transform: rotate(45deg) translate(0, 50%);
      -ms-transform: rotate(45deg) translate(0, 50%);
          transform: rotate(45deg) translate(0, 50%);
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  color: #37393f;
  font-family: Inter;
  font-size: clamp(0.875rem, 0.403rem + 0.89vw, 1.125rem);
}
@media (max-width: 981px) {
  .menu {
    display: none;
  }
}
.menu__item {
  position: relative;
  white-space: nowrap;
}
@media (any-hover: hover) {
  .menu__item:hover .menu__link img {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}
.menu__item:hover .sub-menu {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}
.menu__link img {
  vertical-align: middle;
  -webkit-transition: -webkit-transform 0.35s;
  transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  transition: transform 0.35s, -webkit-transform 0.35s;
}
@media (any-hover: hover) {
  .menu__link:hover {
    text-decoration: underline;
  }
}

.sub-menu {
  position: absolute;
  top: 100%;
  -webkit-transform: translateY(-1.25rem);
      -ms-transform: translateY(-1.25rem);
          transform: translateY(-1.25rem);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  left: 0;
  padding-top: 0.4375rem;
}
.sub-menu__link {
  text-align: center;
  padding: 9px 35px;
  outline: 0.0625rem solid rgba(0, 0, 0, 0.3);
  width: 100%;
  background: #717de1;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
}
.sub-menu__link:hover {
  background: #808ae5;
}

.footer-info {
  display: none;
}
@media (max-width: 850px) {
  .footer-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}