@import "_fonts.scss";
@import "_reset.scss";
@import "_function.scss";

$colorWhite: #fff;

body {
    font-size: 18px;
}

.wrapper {
    min-height: 100%;
    overflow: clip;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1 1 auto;
}

[class*="__container"] {
    max-width: toRem(1250);
    padding: 0 toEm(30);
    margin: 0 auto;
}

// first header

.header {
    // .header__info

    &__info {
        background: #37393f;
        padding: toEm(22) 0;
        color: $colorWhite;
        font-family: Inter;
        font-size: clamp(0.625rem, 0.363rem + 1vw, 0.875rem);
        @media(max-width: 850px){
            display: none;
        }
    }

    // .header__container

    &__container {
        display: flex;
        justify-content: space-between;
        gap: toRem(10);
        align-items: center;
        
    }


    // .header__adress

    &__adress {
        display: flex;
        @media(max-width:680px){
         gap: toRem(12);   
        }

        gap: toRem(42);  
        
    }

    // .header__location

    &__location {
        position: relative;
        padding-left: toRem(25);
        &::before {
            content: "";
            position: absolute;
            background: url(../image/header/location.svg) no-repeat;
            width: toEm(57);
            height: toEm(94);
            
            inset: 0;
            transform: translateY(-5px);
        }
    }

    // .header__email

    &__email {
        position: relative;
        padding-left: toRem(31);
        &::before {
            content: "";
            position: absolute;
            background: url(../image/header/email.svg) no-repeat;
            width: toRem(55);
            height: toRem(59);
            inset: 0;
            transform: translateY(-3px);
        }
    }

    // .header__right-info

    &__right-info {
        display: flex;
        @media(max-width:680px){
            column-gap: toEm(20); 
        }
        column-gap: toEm(50);  
        
        align-items: center;
    }

    // .header__media-contact

    &__media-contact {
        display: flex;
        column-gap: toRem(16);
        row-gap: toRem(4);
        align-items: center;
        flex-wrap: wrap;
    }

    &__time-work {
        position: relative;
        padding-left: toRem(20);

        &::before {
            content: "";
            background: url(../image/header/time.svg) no-repeat;
            width: toRem(20);
            height: toRem(22);
            inset: 0;
            position: absolute;
            transform: translateY(-2px);
        }
    }
    &__link-icon img {
        transition: all 0.4s;
        @media (any-hover: hover) {
            &:hover {
                transform: scale(1.09);
            }
        }
    }
}

// second header ( main )

.header {
    
    // .header__navigation

    &__navigation {
        padding: toRem(40) 0;
        
        
    }

    // .header__logo

    &__logo {
        color: #37393f;
        font-family: Poppins;
        font-size: toRem(25);
        font-weight: 700;
        position: relative;
        padding-left: toRem(46);
        span {
            color: #6b77e5;
            font-weight: 700;
        }
        &::before {
            content: "";
            background: url(../image/header/main__logo.svg) no-repeat;
            width: toRem(49);
            height: toRem(32);
            position: absolute;
            inset: 0;
            
        }
    }

    // .header__content

    &__content {
        display: flex;
        column-gap: toRem(45);
        align-items: center;
        
    }

    // .header__menu

    // .header__button

    &__button {
        @media(max-width: 545px){
            display: none;
        }
        a {
            white-space: nowrap;
            color: $colorWhite;
            text-align: center;
            font-family: Cabin;
            font-size: toRem(18);
            font-weight: 600;
            text-transform: capitalize;
            padding: toRem(22) toRem(35);
            background: #626eda;
            transition: background .2s;
            
            &:hover{
                background: #6d78dc; 
            }
        }
    }
    &__burger-button{
        display: none;
        position: relative;
        z-index: 99;
        align-items: center;
        justify-content: flex-end;
        width: 33px;
        height: 20px;
        
        @media(max-width:981px){
            display: flex;
        }

        
    
        & span{
            position: absolute;
            height: 2px;
            width: 80%;
            background-color: #37393f;
            transform: scale(1.01);
            transition: transform .2s;
        
        }
        &::before,
        &::after{
            content: "";
            position: absolute;
            height: 2px;
            width: 93%;
            transform: scale(1.1);
            background-color: #37393f;
            transition: all .5s;
        }&::before{
            top: 0;
        }&::after{
            bottom: 0;
        }

        &:focus > span{
            opacity: 0;
        }
        &:focus::before{
            top: 50%;
            transform: rotate(-45deg) translate(0,-50%);
        }
        &:focus::after{
            top: 50%;
            transform: rotate(45deg) translate(0,50%);
        }
        
    }
}
.menu {
    display: flex;
    gap: 40px;
    color: #37393f;
    font-family: Inter;
    font-size: clamp(0.875rem, 0.403rem + 0.89vw, 1.125rem);
    @media(max-width:981px){
        display: none;
    }

    &__item {
        position: relative;
        white-space: nowrap;
        @media(any-hover: hover){
          &:hover .menu__link img{
            transform: rotate(180deg);
        }  
        
        }
        

        &:hover .sub-menu{
            
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
        }
    }

    // .menu__link

    &__link {
        
        img {
            vertical-align: middle;
            transition: transform 0.35s;
        }
        @media(any-hover: hover){
            &:hover{
                text-decoration: underline;
            }
        }
    
        
        
    }

    


}


.sub-menu {
    position: absolute;
    top: 100%;
    transform: translateY(toRem(-20));
    visibility: hidden;
    opacity: 0;
    transition: all .5s;
    left: 0;
    padding-top: toRem(7);
    
    

    
    // .sub-menu__item


    // .sub-menu__link

    &__link {
        text-align: center;
        padding: 9px 35px;
        outline: 0.0625rem solid rgba($color: #000000, $alpha: 0.3);
        width: 100%;
        background: #717de1;
        transition: background .2s;
        &:hover{
            background: #808ae5;    
        }
    }

}




// footer header

.footer-info{
    display: none;
    @media(max-width: 850px){
        display: flex;
    }
}