@import url('reset.css');

.wrapper {
    min-height: 100%;
    overflow: clip;
    background-color: rgb(67, 62, 62);
}

[class*='__container'] {
    max-width: 1100px;
    margin: 0 auto;
}

.header {
    background: gray;
}

.header__container {
    background-color: rgb(111, 99, 99);
    font-size: 0;
}

.header__menu {
    text-align: center;
}

.menu {}

.menu__item {
    display: inline-block;
    padding: 20px 0;
    font-size: 25px;
    color: rgb(232, 154, 53);
    position: relative;

}

.menu__item:not(:last-child) {

    margin-right: 130px;
}

.menu__link {
    transition: color .4s ease;
}

.menu__link:after {
    transition: width 0.3s 0s ease;
}

.menu__link:after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: rgb(54, 54, 97);
    border-radius: 4px;
}

.menu__link:hover {
    color: rgb(154, 219, 119);
}

.menu__link:hover:after {
    width: 90%;
    transition: width 0.5s 0.4s ease-out;
}


.sub-menu {
    position: absolute;
    color: black;
    background-color: rgb(196, 114, 114);
    left: 0;
    top: 100%;
    transform: translateX(-25%);
    visibility: hidden;

}

.sub-menu__item {
    padding: 15px 20px;
    position: relative;
    left: 5000%;
}


@keyframes item-anim {
    100% {
        left: 0;
    }
}

.menu__item:hover .sub-menu__item:nth-child(1) {
    animation-name: item-anim;
    animation-duration: 0.4s;
    animation-delay: 0;
    animation-fill-mode: forwards;
}

.menu__item:hover .sub-menu__item:nth-child(2) {
    animation-name: item-anim;
    animation-duration: 0.4s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}


.menu__item:hover .sub-menu__item:nth-child(3) {
    animation-name: item-anim;
    animation-duration: 0.4s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

.menu__item:hover .sub-menu__item:nth-child(4) {
    animation-name: item-anim;
    animation-duration: 0.4s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
}

.sub-menu__item a:hover {
    text-decoration: underline;
}

.sub-menu__item:hover {
    background-color: rgb(18, 97, 97);
}


.menu__item:hover .sub-menu {
    visibility: visible;
}

.page__spiner {
    margin-bottom: 300px;
}

.spiner {}

.title {
    font-size: 50px;
    color: rgb(81, 42, 165);
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.spiner__item {
    transform-origin: 50% 58%;
}

.spiner__item--margin {
    margin-top: 100px;
}

.bearing {
    width: 160px;
    position: absolute;
    top: 335px;
    left: 466px;
    right: 0;
}

.spiner__container {
    width: 400px;
    height: 400px;
}





@keyframes spiner {

    0%,
    100% {
        transform: rotate(0deg);
    }

    1% {
        transform: rotate(3.6deg);
    }

    2% {
        transform: rotate(7.2deg);
    }

    3% {
        transform: rotate(10.8deg);
    }

    4% {
        transform: rotate(14.4deg);
    }

    5% {
        transform: rotate(18deg);
    }

    6% {
        transform: rotate(21.6deg);
    }

    7% {
        transform: rotate(25.2deg);
    }

    8% {
        transform: rotate(28.8deg);
    }

    9% {
        transform: rotate(32.4deg);
    }

    10% {
        transform: rotate(36deg);
    }

    11% {
        transform: rotate(39.6deg);
    }

    12% {
        transform: rotate(43.2deg);
    }

    13% {
        transform: rotate(46.8deg);
    }

    14% {
        transform: rotate(50.4deg);
    }

    15% {
        transform: rotate(54deg);
    }

    16% {
        transform: rotate(57.6deg);
    }

    17% {
        transform: rotate(61.2deg);
    }

    18% {
        transform: rotate(64.8deg);
    }

    19% {
        transform: rotate(68.4deg);
    }

    20% {
        transform: rotate(72deg);
    }

    21% {
        transform: rotate(75.6deg);
    }

    22% {
        transform: rotate(79.2deg);
    }

    23% {
        transform: rotate(82.8deg);
    }

    24% {
        transform: rotate(86.4deg);
    }

    25% {
        transform: rotate(90deg);
    }

    26% {
        transform: rotate(93.6deg);
    }

    27% {
        transform: rotate(97.2deg);
    }

    28% {
        transform: rotate(100.8deg);
    }

    29% {
        transform: rotate(104.4deg);
    }

    30% {
        transform: rotate(108deg);
    }

    31% {
        transform: rotate(111.6deg);
    }

    32% {
        transform: rotate(115.2deg);
    }

    33% {
        transform: rotate(118.8deg);
    }

    34% {
        transform: rotate(122.4deg);
    }

    35% {
        transform: rotate(126deg);
    }

    36% {
        transform: rotate(129.6deg);
    }

    37% {
        transform: rotate(133.2deg);
    }

    38% {
        transform: rotate(136.8deg);
    }

    39% {
        transform: rotate(140.4deg);
    }

    40% {
        transform: rotate(144deg);
    }

    41% {
        transform: rotate(147.6deg);
    }

    42% {
        transform: rotate(151.2deg);
    }

    43% {
        transform: rotate(154.8deg);
    }

    44% {
        transform: rotate(158.4deg);
    }

    45% {
        transform: rotate(162deg);
    }

    46% {
        transform: rotate(165.6deg);
    }

    47% {
        transform: rotate(169.2deg);
    }

    48% {
        transform: rotate(172.8deg);
    }

    49% {
        transform: rotate(176.4deg);
    }

    50% {
        transform: rotate(180deg);
    }

    51% {
        transform: rotate(183.6deg);
    }

    52% {
        transform: rotate(187.2deg);
    }

    53% {
        transform: rotate(190.8deg);
    }

    54% {
        transform: rotate(194.4deg);
    }

    55% {
        transform: rotate(198deg);
    }

    56% {
        transform: rotate(201.6deg);
    }

    57% {
        transform: rotate(205.2deg);
    }

    58% {
        transform: rotate(208.8deg);
    }

    59% {
        transform: rotate(212.4deg);
    }

    60% {
        transform: rotate(216deg);
    }

    61% {
        transform: rotate(219.6deg);
    }

    62% {
        transform: rotate(223.2deg);
    }

    63% {
        transform: rotate(226.8deg);
    }

    64% {
        transform: rotate(230.4deg);
    }

    65% {
        transform: rotate(234deg);
    }

    66% {
        transform: rotate(237.6deg);
    }

    67% {
        transform: rotate(241.2deg);
    }

    68% {
        transform: rotate(244.8deg);
    }

    69% {
        transform: rotate(248.4deg);
    }

    70% {
        transform: rotate(252deg);
    }

    71% {
        transform: rotate(255.6deg);
    }

    72% {
        transform: rotate(259.2deg);
    }

    73% {
        transform: rotate(262.8deg);
    }

    74% {
        transform: rotate(266.4deg);
    }

    75% {
        transform: rotate(270deg);
    }

    76% {
        transform: rotate(273.6deg);
    }

    77% {
        transform: rotate(277.2deg);
    }

    78% {
        transform: rotate(280.8deg);
    }

    79% {
        transform: rotate(284.4deg);
    }

    80% {
        transform: rotate(288deg);
    }

    81% {
        transform: rotate(291.6deg);
    }

    82% {
        transform: rotate(295.2deg);
    }

    83% {
        transform: rotate(298.8deg);
    }

    84% {
        transform: rotate(302.4deg);
    }

    85% {
        transform: rotate(306deg);
    }

    86% {
        transform: rotate(309.6deg);
    }

    87% {
        transform: rotate(313.2deg);
    }

    88% {
        transform: rotate(316.8deg);
    }

    89% {
        transform: rotate(320.4deg);
    }

    89% {
        transform: rotate(320.4deg);
    }

    90% {
        transform: rotate(324deg);
    }

    91% {
        transform: rotate(327.6deg);
    }

    92% {
        transform: rotate(331.2deg);
    }

    93% {
        transform: rotate(334.8deg);
    }

    94% {
        transform: rotate(338.4deg);
    }

    95% {
        transform: rotate(342deg);
    }

    96% {
        transform: rotate(345.6deg);
    }

    97% {
        transform: rotate(349.2deg);
    }

    98% {
        transform: rotate(352.8deg);
    }

    99% {
        transform: rotate(356.4deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


.spiner__item:hover {
    animation-name: spiner;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
}

.page__dvd {
    margin-bottom: 500px;
}

.dvd {}

.dvd__container {
    width: 800px;
    height: 600px;
    background-color: gray;
    box-shadow: 10px 10px 10px 10px rgb(217, 141, 141);
}

.dvd__image img {
    width: 120px;
    animation-name: dvd-moove;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


@keyframes dvd-moove {

    0%,
    100% {
        transform: translate(0, 0);
    }

    15% {
        transform: translate(680px, 100px);
    }

    25% {
        transform: translate(0, 400px);
    }

    35% {
        transform: translate(300px, 550px);
    }

    45% {
        transform: translate(680px, 450px);
    }
}


.page__cloud {
    background: url(../img/space.jpg);
    width: 1000px;
    height: 1200px;
}


.cloud {}

.cloud-item {
    border: 10px solid white;
    max-width: 10px;
    height: 740px;
    position: relative;
    margin: 0 auto;
    transform-origin: top;
    animation-name: cloud;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.cloud-item::after {
    content: "";
    background: url(../img/cloud.png);
    width: 400px;
    height: 200px;
    position: absolute;
    transform: translate(-50%, 100px);
    bottom: 0;

}

@keyframes cloud {
    0% {
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(25deg);
    }
    50%{
        transform: rotate(-25deg); 
    }
    100%{
        transform: rotate(0deg);
    }

}