*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  color: inherit;
  background-color: transparent;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main__container {
  max-width: 930px;
  padding: 0 15px;
  margin: 0 auto;
  border: 1px solid black;
}
.main__title {
  color: #3c4242;
  font-family: Core Sans C;
  font-size: 28px;
  font-weight: 600;
  line-height: 33.5px; /* 119.643% */
  letter-spacing: 0.56px;
  margin-bottom: 20px;
}
.main__adress {
  color: #3c4242;
  font-family: Core Sans C;
  font-size: 22px;
  font-weight: 600;
  line-height: 33.5px; /* 152.273% */
  letter-spacing: 0.44px;
  margin-bottom: 50px;
}
.form form {
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 426px));
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  row-gap: 31px;
}
@media (max-width: 480px) {
  .form form {
    grid-template-columns: 1fr;
  }
}
.form__input-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  row-gap: 19px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.form__input-box label {
  color: #3c4242;
  font-family: Causten;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.36px;
}
.form__input-box input {
  padding: 17px 22px;
  height: 100%;
  border: 1px solid black;
}
.form__input-box input::-webkit-input-placeholder {
  color: #807d7e;
  font-family: Causten;
}
.form__input-box input::-moz-placeholder {
  color: #807d7e;
  font-family: Causten;
}
.form__input-box input:-ms-input-placeholder {
  color: #807d7e;
  font-family: Causten;
}
.form__input-box input::-ms-input-placeholder {
  color: #807d7e;
  font-family: Causten;
}
.form__input-box input::placeholder {
  color: #807d7e;
  font-family: Causten;
}
.form__input-box select {
  color: #807d7e;
  font-family: Causten;
  padding: 17px 22px;
  height: 100%;
  font-size: 17px;
}
.form__input-box.text-area-width {
  grid-column: 1/3;
}
.form__input-box.text-area-width textarea {
  padding: 17px 22px;
}
.form .form__check-boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
  grid-column: span 2;
}
.form .form__check-boxes--margin {
  margin-bottom: 30px;
}
.form .form__check-boxes .check-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 11px;
     -moz-column-gap: 11px;
          column-gap: 11px;
}
.form .form__check-boxes .check-box label {
  color: #3c4242;
  font-family: Causten;
  font-size: 20.087px;
}
.form .form__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}
.form .form__buttons .form__button {
  text-align: center;
  font-family: Causten;
  font-size: 20.087px;
  font-weight: 600;
  padding: 12px 40px;
  color: #807D7E;
}
.form .form__buttons .form__button--bg {
  border-radius: 8px;
  background: #8a33fd;
  color: #fff;
}